#banner {
    
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 350px;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color:rgb(41, 34, 34);
    font-size: 18px;
    font-family: PlayFair Display, sans-serif;
    width: 70%;
}


